.App {
  text-align: center;
}
body {
  background-color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.signUp-form {
  width: 30%;
  /* padding: 70px; */
  vertical-align: middle;
  color: transparent;
  float: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  width: 30%;
  /* padding: 70px; */
  vertical-align: middle;
  color: transparent;
  float: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-link {
  color: hotpink;
}

.login-link {
  color: hotpink;
}

.photo-container {
  display: flex;
  /* grid-template-rows: 100px 300px; */
}

.h5,
h5 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 20;
  margin-right: 0;
  font-weight: bold;
}

.news-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 3;
  justify-content: space-evenly;
  align-content: space-between;
  box-shadow: 0px 0px 0px 0px;
}

.coin-feed {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 3;
  justify-content: space-evenly;
  box-shadow: 0px 0px 0px 0px;
  background-color: eggshell;
}
.card{
  align-content: space-between 20px;
  margin-top: 1rem;
  margin-bottom: 1em;
  box-shadow: 1px 2px 1px grey;
}

.sell-button{
  background-color: gold;
}

.coin-loading {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
}

.site-name {
  font-family: 'Fira Sans', sans-serif;
  position: relative; /* or absolute */
  top: 60%;
  left: 40%;
  color: whitesmoke;
}
.site-header1 {
  margin: 0;
  font-size: 9em;
  top: 10%;
  vertical-align: middle;
  float: center;
  margin: 0;
  position: fixed;
  left: 22%;
  text-shadow: 2px 2px grey;
}
.earning-amount {
  font-size: 58px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.expense-amount {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.user-table {
  box-shadow: 2px 2px 4px grey;
}

.welcome {
  font-size: 22px;
  margin: 10px;
  top: 10%;
  padding: 3px;
  position: relative;
  left: -3%;
  /* bottom: 70%; */
}
.thumbnail {
  padding: 0px;
  position: relative;
  left: 0%;
  bottom: 10%;
  box-shadow: 2px 2px 4px grey;
}

.jumbotron {
  box-shadow: 2px 2px 4px grey;
  height: relative;
  text-shadow: 1px 0px grey;
  position: relative;
  flex: none;
}

.navbar {
  box-shadow: 2px 2px 6px grey;
  height: 5em;
}
